<% if @matters.size > 0 %>
  <h1><%= @matters.first.city %>PM<sub>2.5</sub>监测数据</h1>
  <p><%= @matters.first.date %> ~ <%= @matters.last.date %> (最近<%= @matters.size %>天)</p>
  <div id="placeholder" style="width: 1000px; height: 600px;"></div>
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/jquery.flot.min.js"></script>
  <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/javascripts/excanvas.min.js"></script><![endif]-->
  <script>
    $(function() {
      var placeholder = $("#placeholder"),
          plot = $.plot(
        placeholder,
        [{
          data: <%= @matters.each_with_index.map { |m, i| [i, m.aqi.first] }.to_s %>,
          label: "<%= @matters.first.city %>",
        }],
        {
          series: {
            lines: { show: true },
            points: { show: true },
          },
          xaxis: {
            ticks: <%= @matters.each_with_index.map { |m, i| [i, m.date.strftime("%-m/%-d")] }.to_s %>,
          },
          yaxis: {
            transform: function(v) { return Math.sqrt(v); },
            min: 0,
            max: 500
          },
          zoom: { interactive: false },
          pan: { interactive: false},
          grid: {
            markings: [
              { yaxis: { from: 0, to: 50 }, color: "#00e400" },
              { yaxis: { from: 51, to: 100 }, color: "#ffff00" },
              { yaxis: { from: 101, to: 150 }, color: "#ff7e00" },
              { yaxis: { from: 151, to: 200 }, color: "#ff0000" },
              { yaxis: { from: 201, to: 300 }, color: "#99004c" },
              { yaxis: { from: 301, to: 500 }, color: "#730023" }
            ]
          }
        }
      );
    });
  </script>
<% else %>
  <p>很可惜，该城市尚无监测数据。</p>
<% end %>
