
<table id="pm">
  <caption><h2><%= @matters.first.date unless @matters.empty? %></h2></caption>
  <thead>
    <tr>
      <th>城市</th>
      <th>PM<sub>2.5</sub>浓度</th>
      <th>AQI</th>
      <th>等级</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="4"><small>数据仅供参考。并不保证每日均能抓取到正确数据。</small></td>
    </tr>
  </tfoot>

  <tbody>
  <% @matters.each do |m| %>
    <tr>
      <td><a href="/<%= m.city %>"><%= m.city %></a></td>
      <td><strong><%= m.pm %></strong> ug/m3</td>
      <td><strong><%= m.aqi[0] %></strong></td>
      <td data-aqi="<%= m.aqi[1] %>"><span></span><%= m.aqi[2] %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<table class="aqi-intro">
  <caption><h3>AQI 等级说明</h3></caption>

  <% aqi_table_rows.each do |r| %>
    <%= r %>
  <% end %>
</table>
