<%= erb :header %>

<h1>浙江PM2.5监测数据</h1>

<p><%= @matters.first.date unless @matters.empty? %></p>

<table id="pm">
  <thead>
    <tr>
      <th>城市</th>
      <th>PM<sub>2.5</sub>浓度</th>
      <th>AQI</th>
      <th>等级</th>
    </tr>
  </thead>
  <tbody>
  <% @matters.each do |m| %>
    <tr>
      <td><%= m.city %></td>
      <td><%= m.pm %> ug/m3</td>
      <td><%= m.aqi[0] %></td>
      <td style="background:#<%= m.aqi[2] %>"><%= m.aqi[1] %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= erb :footer %>
